@font-face {
font-family: 'Tiempo';
src: url('tiempo.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Metric-Regular';
src: url('Metric-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Metric-Bold';
src: url('Metric-Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Metric-light';
src: url('Metric-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
