@import 'fonts';

/********************************************
FONTS
*/
$font-title : 'Tiempo';
$primary-font : 'Metric-Regular';
$light-font : 'Metric-light';
$bold-font : 'Metric-Bold';

/********************************************
COLORS
*/
$green : #00C393;

/********************************************
FONTS SIZES
*/
$title_main : 4.2em;
