@import '_variables.scss';
@import '_fonts.scss';
@import 'bootstrap.css';
@import 'fontawesome.css';

body{
  font-family: $primary-font;
  background: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
 background-attachment: fixed;
}
h1{
  color: white;
  font-size: $title_main;
  margin: 0;
}


.first_wrapper{
  padding: 5em 5em 2em 5em;
  font-family: $font-title;
  .page_title{
    margin-top: 10em;

    p{
      color: $green ;
      font-size: $title_main;
    }
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post_wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1300px;
  padding: 5em 5em 2em 5em;
}

form {

  flex-direction: column;
  display: flex;
}

form .field {
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  margin: 10px;
}

table {
  width: 400px;
  background-color: white;
  padding: 15px;
  margin: 10px;
}

.meal-entry {
  margin: 20px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5em;
  border-radius: 6px;
  color: $green;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row {
  margin: auto
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 500px;
  justify-content: space-around;
}
